*{
	box-sizing: border-box;
	padding:0;
	margin:0;

}

body{
	background-color: #fcf5fc;
	min-width:100vw;
	min-height: 100vh;
	height:100%;
	font-family: 'Maven Pro', 'Lato','Open Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display:grid;
	justify-content:center;
	align-items: center;
	grid-template-columns:1fr 1fr;
	grid-template-rows: 500px 60px 1fr 1fr 1fr 644px;
	grid-template-areas:
	"header"
	"nav"
	"article"
	"main"
	"section"
	"footer";

}

/* Header börjar här*/
.header{
	grid-area: header;
	width:1000px;
	height:500px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	"h1 h2"
	"h1 h3";

}

.card1__img{
	height:500px;
	width: 500px;

}

.card1__icon{
	height:186px;
	width:190px;
	position: absolute;
 	margin-top: 190px;

}

.card1__icon2{
	height:195px;
	width:176px;

}

.card1:nth-child(1){
	grid-area:h1;
	display:flex;
	flex-direction: column;
	justify-content: stretch;
	align-items:center;

}

.card1:nth-child(2){
	grid-area:h2;
	display:flex;
	justify-content: center;
	align-items: center;
	height:250px;
	width:500px;
	background-color: #9E6D52;

}

.card1:nth-child(3){
	grid-area:h3;
	display:flex;
	justify-content: center;
	align-items: center;
	height:250px;
	width: 500px;
	background-color: #0A846E;

}
/* Header slutar här*/

/* Nav börjar här*/
.nav{
	background-color: #ffffff;
	grid-area: nav;
	width:1000px;
	height:60px;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.nav__list{
	width:792px;
	height:17px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	
}

.nav__item{
	font-family: 'Maven Pro';
	font-size: 20px;
	font-weight: 500;
	color:#055647;

}
/* Nav slutar här*/

/* article börjar här*/
.article{
	background-color: #ffffff;
	grid-area: article;
	width:1000px;
	height:700px;
	height:100%;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
	"a1"
	"a2"
	"a3";

}

.card2:nth-child(1){
	grid-area:a1;
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;

}

.card2__text{
	grid-area:a1;
	width:573px;
	height:29px;
	font-family: 'Maven Pro';
	font-size: 48px;
	color: #0A846E;
	font-weight: 500;
	margin-top:79px; 
	margin-left:90px;
	
}

.card2:nth-child(2){
	grid-area:a2;
	height:377px;
	width:911px;
	margin-top:81px;
	margin-left:44px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
	"ac1 ac2"
	"ac1 ac3"
	"ac1 ac4";

}

.card2__p{
	grid-area:ac2;
	width:236px;
	height:44px;
	margin-top: 80px;
	margin-left:70px;
	font-family: 'Open Sans';
	font-size: 32px;
	font-weight: 700;
	color:#1E1E1E
	
}

.card2__p1{
	grid-area:ac3;
	width:467px;
	height:71px;
	margin-left:70px;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 400px;
	color:#000000;

}

.card2__btn{
	grid-area:ac4;
	width:179px;
	height:63px;
	border-radius: 10px;
	background-color:#0A846E ;
	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: 700;
	color:#ffffff;
	margin-left:350px;
	
}

.card2__figur{
	grid-area: ac1;
	height:377px;
	width:377px;
	background-color: #0A846E;
	border-radius: 999px;
	
}

.card2__icon{
	position:absolute;
	margin-left: 100px;
	margin-top:80px;

}

.card2:nth-child(3){
	grid-area:a3;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	
}

.card2__divider{
	grid-area: a3;
	width:333px;
	height:5px;
	border:3px;
	margin-top: 93px;
	border-color: black;
	background-color: #055647;

}
	
.card2__p2{
	grid-area: a3;
	width:489px;
	height:38px;
	margin-top:69px;
	font-family: 'Lato';
	font-size: 32px;
	font-weight: 600;
	color:#000000;
	margin-left:80px;
	
}
/* Här slutar article*/


	/* Här börjar main*/
.main{
	grid-area: main;
	background-color: #ffffff;
	width:1000px;
	height:100%;
	row-gap: 20px;
	column-gap: 20px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	"c1 c2 c3"
	"c4 c5 c6";

}
.main, .card, .card--text{
	overflow: visible;
}

.card{
	background-color: #ffffff;
	width:300px;
	height:407px;
	margin:10px;
	

}

.card:nth-child(1) {
	grid-area: c1;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.card--text{
	grid-area:c1;
	height: 111px;
	width:293px;
	position: relative;
	z-index: 1;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;
	box-shadow: 3px 4px 4px 0px #00000040;
}

.card:nth-child(2) {
	grid-area: c2;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;

}

.card--text{ 
	grid-area:c2;
	/* height: 111px; */
	/* width:293px; */
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;

}

.card:nth-child(3) {
	grid-area: c3;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;

}

.card--text{
	grid-area:c3;
	/* height: 111px; */
	/* width:293px; */
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;

}

.card:nth-child(4) {
	grid-area: c4;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	

}

.card--text{
	grid-area:c4;
	/* height: 111px; */
	/* width:293px; */
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;

}

.card:nth-child(5) {
	grid-area: c5;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;

}

.card--text{
	grid-area:c5;
	/* height: 111px; */
	/* width:293px; */
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;

}

.card:nth-child(6) {
	grid-area: c6;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	
}

.card--text{
	grid-area:c6;
	/* height: 111px; */
	/* width:293px; */
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;

}

.card__img{
	height:296px;
	width:293px;
	
}

.card__icon{
	height:205px;
	width:149px;
	position: absolute;
	padding-bottom: 100px; 

}
.card__icon-2{
	position: absolute;
	top: 10px;  
    right: 10px;  
    width: 13px;
    height: 16px;
	z-index: 0;
}

.card__btn{
	width:97px;
	height: 30px;
	border-radius: 10px;
	background-color: #B93857;
	color: white;
	font-family: 'Open Sans';font-size: 15px;
	font-weight: 700;
	margin-left:30px;
	
	
}

.card__p{
	font-family:'Lato';
	font-size: 24px;
	font-weight: 600;
	height:25px;
	margin-left:10px;
	margin-top:10px;
		
}

.card__p1{
	font-family:'Open Sans';
	font-size: 16px;
	font-weight: 700;
	height:19px;
	margin-left:30px;
	margin-top:10px;
	
}

.card__p2{
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 300;
	height:19px;
	margin-left: 10px;
	
}
/* Här slutar main */


/* Här börjar section*/

.section{
	background-color: #ffffff;
	grid-area: section;
	width:1000px;
	height:700px;
	height:100%;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows: 100px 1fr;
	grid-template-areas:
	"s1"
	"s2";

}

.card3:nth-child(1){
	grid-area:s1;
	display: flex;
	flex-direction: column;
	justify-content:flex-end;
	align-items: center;

}

.card3__btn1{
	height:63px;
	width:157px;
	font: 'Open Sans';
	font-size: 24px;
	font-weight: 600px;
	background-color:#0A846E;
	border-radius: 8px;
	color:#ffffff;
	
}

.card3:nth-child(2){
	grid-area:s2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:1fr;
	grid-template-areas:
	"sc1";

}

.card3__figur{
	grid-area:sc1;
	position: relative;
	height:377px;
	width:377px;
	border-radius: 100%;
	background-color: #0A846E;
	margin-left:590px;
	margin-top:150px;

}	

.card3__icon{
	position: absolute;
	margin-left:690px;
	margin-top:230px;
	
}

.card3__p{
	grid-area: sc1;
	width:470px;
	height:44px;
	font-family: 'Open Sans';
	font-size: 32px;
	font-weight: 700;
	color:#1E1E1E;
	margin-top: 200px;
	margin-left:10px;
	
}

.card3__p1{
	grid-area: sc1;
	width:467px;
	height:71px;
	color:#000000;
	margin-top:250px;
	margin-left:10px;
	
}

.card3__btn2{
	grid-area: sc1;
	width:219px;
	height:33px;
	font-family: 'Open Sans';
	font-size: 24px;
	background-color: #0A846E;
	color:#ffffff;
	border-radius: 8px;
	margin-top:350px;
	margin-left:10px;
		
}
/* Här slutar section*/


/* Här börjar footer*/
.footer{
	background-color: #ffffff;
	grid-area: footer;
	width:1000px;
	height:644px;
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 590px 54px;
	grid-template-areas:
	"f1"
	"f2";
	
}

.card4__img, .card4__img2, .card4__icon, .card4__p, .card4__p1, .card4__p2, .card4__telephone, .card4__envelope{
	grid-area: overlap;

}

.card4:nth-child(1){
	grid-area: f1;
	position:relative;
	display:grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	height:590px;
	width:1000px;
	
}

.card4__img{
	z-index: 1;
	height:590px;
	width:1000px;

}

.card4__icon{
	z-index: 2;
	width:189px;
	height:186px;
	justify-self: end;
	align-self: center;
	margin-right:150px;
	margin-top:40px;

}

.card4__img2{
	z-index: 3;
	background-color: #000000;
	opacity:79%;
	height:590px;
	width:504px;
	justify-self:start;

}

.card4__p{ /* vi hörs*/
	z-index: 4;
	font-family: 'Maven Pro';
	font-size: 64px;
	font-weight: 500;
	color: #ffffff;
	height:75px;
	width:233px;
	margin-right: 500px;

}
	
.card4__p1{ /* Telenr*/
	z-index: 4;
    font-family: 'Open Sans';
    font-size: 20px;
	font-weight: 400;
	color: #ffffff;
	margin-top:500px;
	margin-right:750px;

}	

.card4__p2{ /* text mail*/
	z-index: 4;
    font-family: 'Open Sans';
    font-size: 20px;
	font-weight: 400;
	color: #ffffff;
	margin-top:500px;
	margin-right:240px;

}

.card4__telephone{
	z-index: 4;
	margin-right:924px;
	margin-top:500px;

}

.card4__envelope{
	z-index: 4;
	margin-right:75Px;
	margin-top:500px;

}

.card4:nth-child(2){
    grid-area: f2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card4__link{
	width: 217px;
	height:33px;
	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: 400;
	color:#000000;

}

/* Här slutar footer */

@media screen and (max-width:800px){
	*{
	box-sizing: border-box;
	padding:0;
	margin:0;

}

body{
	background-color: #fcf5fc;
	max-width:390px;
	min-height: 100vh;
	height:100%;
	font-family: 'Maven Pro', 'Lato','Open Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display:grid;
	justify-content:center;
	align-items: center;
	grid-template-columns:1fr;
	grid-template-rows: 500px  1fr 1fr 1fr 644px;
	grid-template-areas:
	"header"
	"article"
	"main"
	"section"
	"footer";

}

/* Header börjar här*/
.header{
	grid-area: header;
	width:390px;
	height:585px;
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
	"h1"
	"h2"
	
}

.card1__img{
	height:390px;
	width: 390px;

}
.card1__icon--burgir{
	height:30px;
	width:40px;
	position: absolute;
	margin-top:-340px;
	margin-left:150px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

.card1__icon{
	height:186px;
	width:190px;
	position: absolute;
 	margin-top: 130px;

}

.card1__icon2{
	height:130px;
	width:97px;
	margin-bottom:40px;

}

.card1:nth-child(1){
	grid-area:h1;
	display:flex;
	flex-direction: column;
	justify-content: stretch;
	align-items:center;

}

.card1:nth-child(2){
	grid-area:h2;
	display:flex;
	justify-content: center;
	align-items: center;
	height:195px;
	width:195px;
	background-color: #9E6D52;
	
}

.card1:nth-child(3){
	grid-area:h2;
	display:flex;
	justify-content: center;
	align-items: center;
	height:195px;
	width: 195px;
	background-color: #0A846E;
	margin-left:195px;
	
}
/* Header slutar här*/

/* Nav börjar här */
.nav{
	display:none;
}
/* Nav slutar här*/

/* Article börjar här */


.article{
	background-color: #ffffff;
	grid-area: article;
	width:390px;
	height:700px;
	height:100%;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
	"a1"
	"a2"
	"a3";

}

.card2:nth-child(1){
	grid-area:a1;
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;

}

.card2__text{
	grid-area:a1;
	width:358px;
	height:28px;
	font-family: 'Maven Pro';
	font-size: 24px;
	color: #0A846E;
	font-weight: 500;
	margin-top: 20px;
	margin-right:800px;
		
}

.card2:nth-child(2){
	grid-area:a2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"ac1"
	"ac2"
	"ac3" 
	"ac4";

}

.card2__p{
	grid-area:ac1;
	width:355px;
	height:22px;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 700;
	color:#1E1E1E;
	margin-left:95px;
	margin-top:30px;
		
}

.card2__p1{
	grid-area:ac2;
	width:358px;
	height:115px;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 400px;
	color:#000000;
	margin-top:10px;
	margin-left:-25px;

}

.card2__btn{
	grid-area:ac3;
	width:116px;
	height:35px;
	border-radius: 9px;
	background-color:#0A846E ;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 700;
	color:#ffffff;
	margin-top:-60px;
	margin-left:95px;
		
}

.card2__figur{
	grid-area: ac4;
	height:241px;
	width:241px;
	background-color: #0A846E;
	border-radius: 100%;
	margin-left:25px;
		
}

.card2__icon{
	position:absolute;
	width:126px;
	height:124px;
	margin-top:230px;
	margin-left:95px;
	
}

.card2:nth-child(3){
	grid-area:a3;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	
}

.card2__divider{
	grid-area: a3;
	width:202px;
	height:5px;
	border:3px;
	border-color: #055647;
	background-color: #055647;
	align-self: flex-start;
	margin-left:90px;
	
}

.card2__p2{
	grid-area: a3;
	width:355px;
	height:22px;
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 600;
	color:#000000;
	align-self: flex-start;
	margin-bottom:20px;

}
/* Här slutar article*/

	/* Här börjar main*/
.main{
	grid-area: main;
	background-color: #ffffff;
	width:390px;
	height:100%;
	row-gap: 10px;
	column-gap: 10px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	"c1 c2"
	"c3 c4"
	"c5 c6";

}

.card{
	background-color: #ffffff;
	width:175px;
	height:220px;

}

.card:nth-child(1) {
	grid-area: c1;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.card--text{
	grid-area:c1;
	height: 60px;
	width:175px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 4px #ebe8e9;

}

.card:nth-child(2) {
	grid-area: c2;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;

}

.card--text{ 
	grid-area:c2;
	height: 60px;
	width:175px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 4px #ebe8e9;

}

.card:nth-child(3) {
	grid-area: c3;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;

}

.card--text{
	grid-area:c3;
	height: 60px;
	width:175px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 4px #ebe8e9;

}

.card:nth-child(4) {
	grid-area: c4;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;

}

.card--text{
	grid-area:c4;
	height: 60px;
	width:175px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 4px #ebe8e9;

}

.card:nth-child(5) {
	grid-area: c5;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;

}

.card--text{
	grid-area:c5;
	height: 60px;
	width:175px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 4px #ebe8e9;

}

.card:nth-child(6) {
	grid-area: c6;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	margin-bottom:20px;

}

.card--text{
	grid-area:c6;
	height: 60px;
	width:175px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 4px #ebe8e9;

}

.card__img{
	height:160px;
	width:175px;
	
}

.card__icon{
	position: absolute;
	
}
.card__icon-2{
	width:13px;
	height:16px;
	background-color: #B93857;
	margin-left:80px;
	margin-top:30px;
}

.card__btn{
	display:none;
	width:13px;
	height: 16px;
	background-color: #B93857;
	margin-left:80px;
	
}

.card__p{
	font-family:'Lato';
	font-size: 14px;
	font-weight: 600;
	height:14px;
	width:62Px;
	margin-left:10px
	
}

.card__p1{
	font-family:'Open Sans';
	font-size: 10px;
	font-weight: 700;
	height:11px;
	width:80px;
	margin-left:30px;
	
}

.card__p2{
	font-family: 'Lato';
	font-size: 10px;
	font-weight: 300;
	height:10px;
	width:74px;
	margin-left: 10px;
	margin-top:0px;
	
	
}
/* Här slutar main */

.section{
	background-color: #ffffff;
	grid-area: section;
	width:390px;
	height:100%;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows: 100px 1fr;
	grid-template-areas:
	"s1"
	"s2";

}

.card3:nth-child(1){
	grid-area:s1;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;

}

.card3__btn1{
	height:18px;
	width:96px;
	font: 'Open Sans';
	font-size: 16px;
	font-weight: 600px;
	background-color:#0A846E;
	border-radius: 8px;
	color:#ffffff;
	margin-right:90px;
		
}

.card3:nth-child(2){
	grid-area:s2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:1fr;
	grid-template-areas:
	"sc1";

}

.card3__figur{
	grid-area:sc1;
	height:240px;
	width:240px;
	border-radius: 100%;
	background-color: #0A846E;
	margin-left:65px;
	margin-top:20px;
	
}	

.card3__icon{
	position: absolute;
	height:132px;
	width:95px;
	margin-inline:140px;
	margin-top: 80px;

}

.card3__p{
	grid-area: sc1;
	width:355px;
	height:22px;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 700;
	color:#1E1E1E;
	margin-top:350px;
	margin-left:95px;

}

.card3__p1{
	grid-area: sc1;
	width:363px;
	height:115px;
	font:'Open Sans';
	font-size: 14px;
	font-weight: 400;
	color:#000000;
	margin-top:400px;
	
}

.card3__btn2{ /* Planterade plantor*/
	grid-area: sc1;
	width:179px;
	height:35px;
	font-family: 'Open Sans';
	font-size: 16px;
	background-color: #0A846E;
	color:#ffffff;
	border-radius: 9px;
	margin-top:500px;
	margin-left:95px;
			
}

/* Här börjar footer*/
.footer{
	background-color: #ffffff;
	grid-area: footer;
	width:390px;
	height:774px;
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 774px 63px;
	grid-template-areas:
	"f1"
	"f2";

}

.card4__img, .card4__img2, .card4__icon, .card4__p, .card4__p1, .card4__p2, .card4__telephone, .card4__envelope{
	grid-area: overlap;

}

.card4:nth-child(1){
	grid-area: f1;
	display:grid;
	grid-template-columns: 1fr;
	justify-items:flex-start;
	align-items: center;
	height:590px;
	width:390px;
	
}

.card4__img{
	z-index: 1;
	height:774px;
	width:390px;

}

.card4__icon{
	z-index: 2;
	width:189px;
	height:186px;
	position: absolute;
	margin-right:670px;
	margin-bottom:480px;
	
}

.card4__img2{
	z-index: 3;
	background-color: #000000;
	opacity:79%;
	height:401px;
	width:390px;
	margin-bottom:-370px;

}

.card4__p{ /* vi hörs*/
	z-index: 4;
	font-family: 'Maven Pro';
	font-size: 32px;
	font-weight: 500;
	color: #ffffff;
	height:38px;
	width:117px;
	margin-left: 130px;
	margin-top:350px;

}
	
.card4__p1{ /* Telenr*/
	z-index: 4;
    font-family: 'Open Sans';
    font-size: 12px;
	font-weight: 400;
	color: #ffffff;
	margin-top:700px;
	margin-left:35px;

}

.card4__p2{ /* text mail*/
	z-index: 4;
    font-family: 'Open Sans';
    font-size: 12px;
	font-weight: 400;
	color: #ffffff;
	margin-top:700px;
	margin-left:255px;

}

.card4__telephone{
	z-index: 4;
	width:19px;
	margin-top:700px;
	margin-left:10px;

}

.card4__envelope{
	z-index: 4;
	width:22px;
	height:20px;
	margin-top:700px;
	margin-left:340px;

}

.card4:nth-child(2) {
    grid-area: f2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card4__link{
	width: 109px;
	height:16px;
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 400;
	color:#000000;

}
}